<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elead.dao.SmbmsUserMapper">
  <resultMap id="BaseResultMap" type="com.elead.pojo.SmbmsUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="userCode" jdbcType="VARCHAR" property="usercode" />
    <result column="userName" jdbcType="VARCHAR" property="username" />
    <result column="userPassword" jdbcType="VARCHAR" property="userpassword" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="birthday" jdbcType="VARCHAR" property="birthday" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="userRole" jdbcType="BIGINT" property="userrole" />
    <result column="roleName" jdbcType="VARCHAR" property="rolename" />
    <result column="createdBy" jdbcType="BIGINT" property="createdby" />
    <result column="creationDate" jdbcType="TIMESTAMP" property="creationdate" />
    <result column="modifyBy" jdbcType="BIGINT" property="modifyby" />
    <result column="modifyDate" jdbcType="TIMESTAMP" property="modifydate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userCode, userName, userPassword, gender, birthday, phone, address, userRole, 
    createdBy, creationDate, modifyBy, modifyDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from smbms_user
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByPrimaryuserCode" resultMap="BaseResultMap">
    <!--select
    *
    from smbms_user
    where userCode = #{arg0}
    and userRole= #{arg1}-->

    SELECT
    a.id AS id,
    a.userCode AS userCode,
    a.userName AS userName,
    a.userPassword AS userPassword,
    a.gender AS gender,
    a.birthday AS birthday,
    a.phone AS phone,
    a.address AS address,
    a.userRole AS userRole,
    b.roleName AS roleName
    FROM
    smbms_user a
    JOIN smbms_role b
    WHERE a.userRole = b.id
    <if test="usercode!=null and usercode!=''">
      and a.userCode like concat('%',#{usercode},'%')
    </if>
    <if test="userrole!=null and userrole!=0">
      and a.userRole= #{userrole}
    </if>

  </select>

  <select id="selectByPrimaryuserCode_Smbms" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--select
    *
    from smbms_user
    where userCode = #{usercode,jdbcType=VARCHAR}-->

    SELECT
    a.id AS id,
    a.userCode AS userCode,
    a.userName AS userName,
    a.userPassword AS userPassword,
    a.gender AS gender,
    a.birthday AS birthday,
    a.phone AS phone,
    a.address AS address,
    a.userRole AS userRole,
    b.roleName AS roleName
    FROM
    smbms_user a
    JOIN smbms_role b
    WHERE
    a.userCode = #{arg0}
    and a.userRole = b.id
  </select>

  <select id="loginInfo" parameterType="com.elead.pojo.SmbmsUser" resultMap="BaseResultMap">
  select * from smbms_user where userCode = #{usercode} AND `userPassword` = #{userpassword}
  </select>

  <select id="getAllUser" parameterType="com.elead.pojo.SmbmsUser" resultMap="BaseResultMap">
    SELECT
    a.id AS id,
    a.userCode AS userCode,
    a.userName AS userName,
    a.userPassword AS userPassword,
    a.gender AS gender,
    a.birthday AS birthday,
    a.phone AS phone,
    a.address AS address,
    a.userRole AS userRole,
    b.roleName AS roleName
    FROM
    smbms_user a
    JOIN smbms_role b
    WHERE
    a.userRole = b.id
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from smbms_user
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.elead.pojo.SmbmsUser">
    insert into smbms_user (id, userCode, userName, 
      userPassword, gender, birthday, 
      phone, address, userRole, 
      createdBy, creationDate, modifyBy, 
      modifyDate)
    values (#{id,jdbcType=BIGINT}, #{usercode,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{userpassword,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, #{birthday,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{userrole,jdbcType=BIGINT}, 
      #{createdby,jdbcType=BIGINT}, #{creationdate,jdbcType=TIMESTAMP}, #{modifyby,jdbcType=BIGINT}, 
      #{modifydate,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertuser" parameterType="com.elead.pojo.SmbmsUser">
    insert into smbms_user (id, userCode,
    userPassword, gender, birthday,
    phone, address, userRole)
    values (#{id,jdbcType=BIGINT}, #{usercode,jdbcType=VARCHAR}, #{userpassword,jdbcType=VARCHAR},
    #{gender,jdbcType=INTEGER}, #{birthday,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
    #{address,jdbcType=VARCHAR}, #{userrole,jdbcType=BIGINT})
  </insert>

  <insert id="insertSelective" parameterType="com.elead.pojo.SmbmsUser">
    insert into smbms_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="usercode != null">
        userCode,
      </if>
      <if test="username != null">
        userName,
      </if>
      <if test="userpassword != null">
        userPassword,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="userrole != null">
        userRole,
      </if>
      <if test="createdby != null">
        createdBy,
      </if>
      <if test="creationdate != null">
        creationDate,
      </if>
      <if test="modifyby != null">
        modifyBy,
      </if>
      <if test="modifydate != null">
        modifyDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="usercode != null">
        #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null">
        #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="userrole != null">
        #{userrole,jdbcType=BIGINT},
      </if>
      <if test="createdby != null">
        #{createdby,jdbcType=BIGINT},
      </if>
      <if test="creationdate != null">
        #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null">
        #{modifyby,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null">
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.elead.pojo.SmbmsUser">
    update smbms_user
    <set>
      <if test="usercode != null">
        userCode = #{usercode,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        userName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userpassword != null">
        userPassword = #{userpassword,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="userrole != null">
        userRole = #{userrole,jdbcType=BIGINT},
      </if>
      <if test="createdby != null">
        createdBy = #{createdby,jdbcType=BIGINT},
      </if>
      <if test="creationdate != null">
        creationDate = #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null">
        modifyBy = #{modifyby,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null">
        modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.elead.pojo.SmbmsUser">
    update smbms_user
    set
    userPassword = #{userpassword,jdbcType=VARCHAR}
    where userCode = #{usercode,jdbcType=VARCHAR}
  </update>

  <update id="updateByUserCode" parameterType="com.elead.pojo.SmbmsUser">
    update smbms_user
    set
    userName=#{username,jdbcType=VARCHAR},
    gender=#{gender,jdbcType=INTEGER},
    birthday=#{birthday,jdbcType=VARCHAR},
    phone=#{phone,jdbcType=VARCHAR},
    address=#{address,jdbcType=VARCHAR},
    userRole=#{userrole,jdbcType=BIGINT}
    where userCode = #{usercode,jdbcType=VARCHAR}
  </update>
</mapper>