<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elead.dao.SmbmsBillMapper">
	<resultMap id="BaseResultMap" type="com.elead.pojo.SmbmsBill">
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="billCode" jdbcType="VARCHAR"
			property="billcode" />
		<result column="productName" jdbcType="VARCHAR"
			property="productname" />
		<result column="productDesc" jdbcType="VARCHAR"
			property="productdesc" />
		<result column="productUnit" jdbcType="VARCHAR"
			property="productunit" />
		<result column="productCount" jdbcType="DECIMAL"
			property="productcount" />
		<result column="totalPrice" jdbcType="DECIMAL"
			property="totalprice" />
		<result column="isPayment" jdbcType="INTEGER"
			property="ispayment" />
		<result column="createdBy" jdbcType="BIGINT"
			property="createdby" />
		<result column="creationDate" jdbcType="TIMESTAMP"
			property="creationdate" />
		<result column="modifyBy" jdbcType="BIGINT" property="modifyby" />
		<result column="modifyDate" jdbcType="TIMESTAMP"
			property="modifydate" />
		<result column="providerId" jdbcType="BIGINT"
			property="providerid" />
	</resultMap>
	<!-- bill和provider的联表查询 -->
	<resultMap type="com.elead.pojo.SmbmsBill" id="BPResultMap">
		<result property="id" column="id" />
		<result property="billcode" column="billcode" />
		<result property="productname" column="productname" />
		<result property="productdesc" column="productdesc" />
		<result property="productunit" column="productunit" />
		<result property="productcount" column="productcount" />
		<result property="totalprice" column="totalprice" />
		<result property="ispayment" column="ispayment" />
		<result property="createdby" column="createdby" />
		<result property="creationdate" column="creationdate" />
		<result property="modifyby" column="modifyby" />
		<result property="modifydate" column="modifydate" />
		<result property="providerid" column="providerid" />
		<association property="provider"
			javaType="com.elead.pojo.SmbmsProvider">
			<result property="id" column="id" />
			<result property="procode" column="procode" />
			<result property="proname" column="proname" />
			<result property="prodesc" column="prodesc" />
			<result property="procontact" column="procontact" />
			<result property="prophone" column="prophone" />
			<result property="proaddress" column="proaddress" />
			<result property="profax" column="profax" />
			<result property="createdby" column="createdby" />
			<result property="creationdate" column="creationdate" />
			<result property="modifydate" column="modifydate" />
			<result property="modifyby" column="modifyby" />
		</association>
	</resultMap>
	<sql id="Base_Column_List">
		id, billCode, productName, productDesc, productUnit, productCount,
		totalPrice, isPayment,
		createdBy, creationDate, modifyBy, modifyDate, providerId
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Long"
		resultMap="BPResultMap">
		select
		*
		from smbms_bill INNER JOIN smbms_provider where smbms_bill.providerId=smbms_provider.id
		and smbms_bill.id = #{id,jdbcType=BIGINT}
	</select>


	<select id="getAllBill" parameterType="com.elead.pojo.SmbmsBill" resultMap="BPResultMap">
	select* from smbms_bill INNER JOIN smbms_provider where smbms_bill.providerId=smbms_provider.id
	<include refid="BillWithProvider_Where_Clause"></include>
	</select>

	<sql id="BillWithProvider_Where_Clause">
	<if test="productname!=null and productname!=''">
	and productname like concat('%',#{productname},'%')
	</if>
  <if test="providerid!=null and providerid!=0">
    and providerid=#{providerid}
    </if>
      <if test="ispayment!=null and ispayment!=0">
    and ispayment=#{ispayment}</if>
	</sql>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from smbms_bill
		where id = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.elead.pojo.SmbmsBill">
		insert into smbms_bill (id, billCode, productName,
		productDesc, productUnit, productCount,
		totalPrice, isPayment, createdBy,
		creationDate, modifyBy, modifyDate,
		providerId)
		values (#{id,jdbcType=BIGINT}, #{billcode,jdbcType=VARCHAR},
		#{productname,jdbcType=VARCHAR},
		#{productdesc,jdbcType=VARCHAR}, #{productunit,jdbcType=VARCHAR}, #{productcount,jdbcType=DECIMAL},
		#{totalprice,jdbcType=DECIMAL}, #{ispayment,jdbcType=INTEGER},
		#{createdby,jdbcType=BIGINT},
		#{creationdate,jdbcType=TIMESTAMP}, #{modifyby,jdbcType=BIGINT}, #{modifydate,jdbcType=TIMESTAMP},
		#{providerid,jdbcType=BIGINT})
	</insert>
	<insert id="insertList" parameterType="com.elead.pojo.SmbmsBill">
		insert into smbms_bill (id, billCode, productName,
		productDesc, productUnit, productCount,
		totalPrice, isPayment, createdBy,
		creationDate, modifyBy, modifyDate,
		providerId)
		values (#{id,jdbcType=BIGINT}, #{billcode,jdbcType=VARCHAR},
		#{productname,jdbcType=VARCHAR},
		#{productdesc,jdbcType=VARCHAR}, #{productunit,jdbcType=VARCHAR}, #{productcount,jdbcType=DECIMAL},
		#{totalprice,jdbcType=DECIMAL}, #{ispayment,jdbcType=INTEGER},
		#{createdby,jdbcType=BIGINT},
		#{creationdate,jdbcType=TIMESTAMP}, #{modifyby,jdbcType=BIGINT}, #{modifydate,jdbcType=TIMESTAMP},
		#{providerid,jdbcType=BIGINT})
	</insert>

	<insert id="insertSelective"
		parameterType="com.elead.pojo.SmbmsBill">
		insert into smbms_bill
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="billcode != null">
				billCode,
			</if>
			<if test="productname != null">
				productName,
			</if>
			<if test="productdesc != null">
				productDesc,
			</if>
			<if test="productunit != null">
				productUnit,
			</if>
			<if test="productcount != null">
				productCount,
			</if>
			<if test="totalprice != null">
				totalPrice,
			</if>
			<if test="ispayment != null">
				isPayment,
			</if>
			<if test="createdby != null">
				createdBy,
			</if>
			<if test="creationdate != null">
				creationDate,
			</if>
			<if test="modifyby != null">
				modifyBy,
			</if>
			<if test="modifydate != null">
				modifyDate,
			</if>
			<if test="providerid != null">
				providerId,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="billcode != null">
				#{billcode,jdbcType=VARCHAR},
			</if>
			<if test="productname != null">
				#{productname,jdbcType=VARCHAR},
			</if>
			<if test="productdesc != null">
				#{productdesc,jdbcType=VARCHAR},
			</if>
			<if test="productunit != null">
				#{productunit,jdbcType=VARCHAR},
			</if>
			<if test="productcount != null">
				#{productcount,jdbcType=DECIMAL},
			</if>
			<if test="totalprice != null">
				#{totalprice,jdbcType=DECIMAL},
			</if>
			<if test="ispayment != null">
				#{ispayment,jdbcType=INTEGER},
			</if>
			<if test="createdby != null">
				#{createdby,jdbcType=BIGINT},
			</if>
			<if test="creationdate != null">
				#{creationdate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyby != null">
				#{modifyby,jdbcType=BIGINT},
			</if>
			<if test="modifydate != null">
				#{modifydate,jdbcType=TIMESTAMP},
			</if>
			<if test="providerid != null">
				#{providerid,jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.elead.pojo.SmbmsBill">
		update smbms_bill
		<set>
			<if test="billcode != null">
				billCode = #{billcode,jdbcType=VARCHAR},
			</if>
			<if test="productname != null">
				productName = #{productname,jdbcType=VARCHAR},
			</if>
			<if test="productdesc != null">
				productDesc = #{productdesc,jdbcType=VARCHAR},
			</if>
			<if test="productunit != null">
				productUnit = #{productunit,jdbcType=VARCHAR},
			</if>
			<if test="productcount != null">
				productCount = #{productcount,jdbcType=DECIMAL},
			</if>
			<if test="totalprice != null">
				totalPrice = #{totalprice,jdbcType=DECIMAL},
			</if>
			<if test="ispayment != null">
				isPayment = #{ispayment,jdbcType=INTEGER},
			</if>
			<if test="createdby != null">
				createdBy = #{createdby,jdbcType=BIGINT},
			</if>
			<if test="creationdate != null">
				creationDate = #{creationdate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyby != null">
				modifyBy = #{modifyby,jdbcType=BIGINT},
			</if>
			<if test="modifydate != null">
				modifyDate = #{modifydate,jdbcType=TIMESTAMP},
			</if>
			<if test="providerid != null">
				providerId = #{providerid,jdbcType=BIGINT},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.elead.pojo.SmbmsBill">
		update smbms_bill
		set billCode = #{billcode,jdbcType=VARCHAR},
		productName = #{productname,jdbcType=VARCHAR},
		productDesc = #{productdesc,jdbcType=VARCHAR},
		productUnit = #{productunit,jdbcType=VARCHAR},
		productCount = #{productcount,jdbcType=DECIMAL},
		totalPrice = #{totalprice,jdbcType=DECIMAL},
		isPayment = #{ispayment,jdbcType=INTEGER},
		createdBy = #{createdby,jdbcType=BIGINT},
		creationDate = #{creationdate,jdbcType=TIMESTAMP},
		modifyBy = #{modifyby,jdbcType=BIGINT},
		modifyDate = #{modifydate,jdbcType=TIMESTAMP},
		providerId = #{providerid,jdbcType=BIGINT}
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>